<h1>Registration details</h1>

<table>
  <tr>
    <th>Registration id</th>
    <th>Presentation</th>
    <th>Delegate</th>
  </tr>
  <tr>
    <td><%= @registration.id %></a></td>
    <td><a href="/presentations/<%= @registration.presentation_id %>"><%= @registration.presentation.name %></a></td>
    <td><a href="/delegates/<%= @registration.delegate_id %>"><%= @registration.delegate.name %></a></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/registrations/<%= @registration.id %>/edit" method="get">
        <input type="submit" value="Edit registration">
      </form>
    </th>
    <th class="blank">
    </th>
    <th>
      <form action="/registrations/<%= @registration.id %>/delete" method="post">
        <input type="submit" value="Delete registration">
      </form>
    </th>
  </tr>
</table>

<br>
