<h1>Presentation details</h1>

<table>
  <tr>
    <th>Presentation</th>
    <th>Time Slot</th>
    <th>Capacity</th>
    <th>Booked</th>
    <th>Remaining</th>
  </tr>
  <tr>
    <td><%= @presentation.name %></a></td>
    <td><%= @presentation.time_slot %></td>
    <td><%= @presentation.capacity %></td>
    <td><%= @presentation.delegates.count %></td>
    <td class="<%= @presentation.remaining_spaces_colour %>"><%= @presentation.remaining_spaces %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/presentations/<%= @presentation.id %>/edit" method="get">
        <input type="submit" value="Edit presentation">
      </form>
    </th>
    <th class="blank">
    </th>
    <th>
      <form action="/presentations/<%= @presentation.id %>/delete" method="post">
        <input type="submit" value="Delete presentation">
      </form>
    </th>
  </tr>
</table>

<br>

<table>
    <tr>
      <% if @presentation.delegates.count < @delegates.count %>
        <th>
          Delegates registered for "<%= @presentation.name %>" (<%= @presentation.delegates.count %>)
        </th>
      <% end %>
      <% if @presentation.delegates.count == @delegates.count %>
        <th>
          All (<%= @presentation.delegates.count %>) delegates are registered for "<%= @presentation.name %>"
        </th>
      <% end %>
    </tr>
  <% @presentation.delegates.each do |delegate| %>
    <tr>
      <td><a href="/delegates/<%= delegate.id %>"><%= delegate.name %></a></td>
    </tr>
  <% end %>
</table>

<br>

<% if @presentation.remaining_spaces > 0 && @presentation.delegates.count < @delegates.count %>
  <form method="post" action="/registrations">
    <table class="edit">
      <tr>
        <th>
          Register another delegate for "<%= @presentation.name %>"
        </th>
      </tr>
      <tr>
        <td>
          <select name="delegate_id">
            <% for delegate in @delegates %>
              <% if !@presentation.delegate_ids.include?(delegate.id) %>
                <option value="<%= delegate.id %>" >
                  <%= delegate.name %>
                </option>
              <% end %>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
          <input type="submit" value="Submit"/>
        </td>
      </tr>
    </table>
  </form>

  <br>

<% end %>
