<h2><%= @presentation.name %></h2>

<h3>Time-slot | <%= @presentation.time_slot %></h3>
<h3>Capacity | <%= @presentation.capacity %></h3>

<form action="/presentations/<%= @presentation.id %>/edit" method="get">
  <input type="submit" value="Edit presentation">
</form>

<form action="/presentations/<%= @presentation.id %>/delete" method="post">
  <input type="submit" value="Delete presentation">
</form>

<h4>Registered delegates:</h4>
<ul>
  <% @presentation.delegates.each do |delegate| %>
  <li><%= delegate.name %></li>
  <% end %>
</ul>
