<h1>Presentation details</h1>

<table>
  <tr>
    <th>Presentation</th>
    <th>Time Slot</th>
    <th>Capacity</th>
  </tr>
  <tr>
    <td><%= @presentation.name %></a></td>
    <td><%= @presentation.time_slot %></td>
    <td class="<%= @presentation.capacity_color %>"><%= @presentation.capacity %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/presentations/<%= @presentation.id %>/edit" method="get">
        <input type="submit" value="Edit presentation">
      </form>
    </th>
    <th class="blank">
    </th>
    <th>
      <form action="/presentations/<%= @presentation.id %>/delete" method="post">
        <input type="submit" value="Delete presentation">
      </form>
    </th>
  </tr>
</table>

<br>

<table>
    <tr>
      <th>Delegates registered for "<%= @presentation.name %>"</th>
    </tr>
  <% @presentation.delegates.each do |delegate| %>
    <tr>
      <td><a href="/delegates/<%= delegate.id %>"><%= delegate.name %></a></td>
    </tr>
  <% end %>
</table>

<br>

<form method="post" action="/registrations">
  <table class="edit">
    <tr>
      <th>
        Register another delegate for "<%= @presentation.name %>"
      </th>
    </tr>
    <tr>
      <td>
        <select name="delegate_id">
          <% for delegate in @delegates %>
          <option value="<%= delegate.id %>" ><%= delegate.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
        <input type="submit" value="Submit"/>
      </td>
    </tr>
  </table>
</form>

<br>
