<h1>Delegates</h1>

<table>
  <tr>
    <th>
      <form action="/delegates/new" method="get">
        <input type="submit" value="Add new delegate">
      </form>
    </th>
  </tr>
</table>

<br>

<table>

  <tr>
    <th>Delegate (<%= Delegate.all.count %>)</th>
    <th>Board member</th>
  </tr>

  <% for delegate in @delegates %>

  <tr>
    <td><a href="/delegates/<%= delegate.id %>"><%= delegate.name %></a></td>
    <td <%= delegate.board_member=="t" ? "class='green'" : "class='red'" %>><%= delegate.board_member=="t" ? "yes" : "no" %></td>
  </tr>
  <% end %>

</table>
<br>

<table>
  <tr>
    <th>
      <form action="/delegates/new" method="get">
        <input type="submit" value="Add new delegate">
      </form>
    </th>
  </tr>
</table>

<br>
