<h1>Delegate details</h1>

<table>
  <tr>
    <th>Delegate</th>
    <th>Board member?</th>
  </tr>
  <tr>
    <td><%= @delegate.name %></a></td>
    <td <%= @delegate.board_member=="t" ? "class='green'" : "class='red'" %>><%= @delegate.board_member=="t" ? "yes" : "no" %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/delegates/<%= @delegate.id %>/edit" method="get">
        <input type="submit" value="Edit delegate">
      </form>
    </th>
    <th class="blank">
    </th>
    <th>
      <form action="/delegates/<%= @delegate.id %>/delete" method="post">
        <input type="submit" value="Delete delegate">
      </form>
    </th>
  </tr>
</table>

<h4>Registered for presentations:</h4>
<ul>
  <% @delegate.presentations.each do |presentation| %>
  <li><%= presentation.name %></li>
  <% end %>
</ul>
