<h2><%= @delegate.name %></h2>

<h3>Board member | <span <%= @delegate.board_member=="t" ? "class='green'" : "class='red'" %>><%= @delegate.board_member=="t" ? "yes" : "no" %></span></h3>

<form action="/delegates/<%= @delegate.id %>/edit" method="get">
  <input type="submit" value="Edit delegate">
</form>

<form action="/delegates/<%= @delegate.id %>/delete" method="post">
  <input type="submit" value="Delete delegate">
</form>

<h4>Registered for presentations:</h4>
<ul>
  <% @delegate.presentations.each do |presentation| %>
  <li><%= presentation.name %></li>
  <% end %>
</ul>
