<h1>Delegate details</h1>

<table>
  <tr>
    <th>Delegate</th>
    <th>Board member?</th>
  </tr>
  <tr>
    <td><%= @delegate.name %></a></td>
    <td <%= @delegate.board_member=="t" ? "class='green'" : "class='red'" %>><%= @delegate.board_member=="t" ? "yes" : "no" %></td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>
      <form action="/delegates/<%= @delegate.id %>/edit" method="get">
        <input type="submit" value="Edit delegate">
      </form>
    </th>
    <th class="blank">
    </th>
    <th>
      <form action="/delegates/<%= @delegate.id %>/delete" method="post">
        <input type="submit" value="Delete delegate">
      </form>
    </th>
  </tr>
</table>

<br>

<table>
    <tr>
      <th>Presentations for which <%= @delegate.name %> is registered (<%= @delegate.presentations.count %>)</th>
    </tr>
  <% @delegate.presentations.each do |presentation| %>
    <tr>
      <td>
        <a href="/presentations/<%= presentation.id %>"><%= presentation.name %></a>
      </td>
    </tr>
  <% end %>
</table>

<br>

<form method="post" action="/registrations">
  <table class="edit">
    <tr>
      <th>
        Register <%= @delegate.name %> for another presentation
      </th>
    </tr>
    <tr>
      <td>
        <select name="presentation_id">
          <% for presentation in @presentations %>
            <% if presentation.remaining_spaces > 0 %>
              <% if !@delegate.presentation_ids.include?(presentation.id) %>
                <option value="<%= presentation.id %>" >
                  <%= presentation.name %>
                </option>
              <% end %>
            <% end %>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="hidden" name="delegate_id" value="<%= @delegate.id %>">
        <input type="submit" value="Submit"/>
      </td>
    </tr>
  </table>
</form>

<br>
